<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div *ngIf="auth.currentUserName">
    <ion-row align-items: center>

      <ion-avatar>
        <img src="assets/images/userlogo.jpg" alt="User Image">

      </ion-avatar>


    </ion-row>
    <ion-row>
      Welcome {{auth.currentUserName}}
    </ion-row>

    <button *ngIf="auth.currentUserName" (click)="logout()" ion-button block>Log out</button>




  </div>





  <div *ngIf="!auth.currentUserName">

    <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
      <ion-row>
        <ion-item>
          <ion-label for="email"></ion-label>
          <ion-input type="email" value="" placeholder="Email" formControlName="email"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item>
          <ion-label for="password"></ion-label>
          <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row>
        <button (click)="login()" ion-button block>Log in</button>   <button (click)="signUp()" ion-button block>Sign In</button>
      </ion-row>
<div >
      <ion-row >
        <ion-item  >
          <ion-label text-wrap color=red color="primary" >
    {{anyErrors}}
    </ion-label>
  </ion-item>
      </ion-row>
    </div>
    </form>


  </div>














</ion-content>
